:root {
  --primary-contrast: #0b151e;
  --secondary-contrast: #0b151e99;
  --background: #fff;
  --muted: rgba(194, 137, 3, 0.3);
  --surface: #e99e1d;
  --border: transparent;
  --button: #0b151e;
}

.dark-theme {
  --primary-contrast: #fff;
  --secondary-contrast: #ffffff99;
  --background: #0b151e;
  --muted: rgba(21, 39, 60, 0.6);
  --surface: #112031;
  --border: #ffffff20;
  --button: linear-gradient(90deg, #ffca28, #f57c00);
}

* {
  margin: 0;
  font-family: "Google Sans";
}

html {
  background: var(--background);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  color: var(--primary-contrast);
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  position: fixed;
}

.profileImage {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

main {
  padding: 64px 0 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-container .chat-history-container {
  flex: 1 1 auto;
  height: 0px;
  overflow-y: scroll;
  margin: 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container .chat-history-container .chat-history {
  max-width: 712px;
  width: 100%;
  padding: 0 20px;
  padding-top: 16px;
  overflow: scroll;
}

.chat-container .chat-history-container .chat-history .chat-message-container {
  display: flex;
  padding: 10px 0px 10px;
  line-height: 1.75rem;
}

.chat-container
  .chat-history-container
  .chat-history
  .chat-message-container
  .chat-message-icon-container {
  margin-right: 10px;
}

.chat-container
  .chat-history-container
  .chat-history
  .chat-message-container
  .chat-message-content-container {
  width: 100%;
}

.chat-panel-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chat-panel-container .chat-form-container {
  max-width: 940px;
  width: 100%;
  padding: 10px 20px 20px;
}

.chat-message-container.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.header svg {
  padding: 16px 25px;
}

.heading {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -2%;
  text-align: center;
}

.regenerate-button {
  color: var(--background);
  background: var(--button);
}

.back-button {
  position: fixed;
  top: 32px;
  left: 32px;
  color: var(--primary-contrast);
  background-color: var(--surface);
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  backdrop-filter: blur(10px);
}

.content {
  margin: 120px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.content header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.content header h2 {
  font-size: 20px;
  font-weight: 400;
}

.features,
.data-container {
  display: grid;
  gap: 10px;
}

.features {
  grid-template-columns: repeat(2, 1fr);
  text-wrap: balance;
}
.data-container {
  grid-template-columns: repeat(2, 1fr);
  text-wrap: pretty;
}

.card {
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  max-width: 360px;
}

.card h2 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -2%;
}
.card p {
  font-size: 13px;
  line-height: 1.5;
  color: var(--secondary-contrast);
  letter-spacing: -1%;
}
.link,
.card p a {
  color: var(--primary-contrast);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.links-container {
  padding-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.links a {
  padding: 14px 15px;
  color: var(--primary-contrast);
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.links a,
.card {
  position: relative;
  border-radius: 24px;
  background: var(--surface);
  backdrop-filter: blur(10px);
  display: flex;
}

.links a::before,
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  padding: 1px;
  background: linear-gradient(var(--border), transparent 30%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.card:not(:first-child)::after,
.links a:not(:first-child)::after {
  content: "";
  top: 0;
  height: 100%;
  background: var(--surface);
  position: absolute;
  pointer-events: none;
}

.card:not(:first-child)::after {
  width: 10px;
  left: -10px;
  mask: url("/between-cards.svg") no-repeat center / contain;
  -webkit-mask: url("/between-cards.svg") no-repeat center / contain;
}

.links a:not(:first-child)::after {
  width: 30px;
  left: calc(-20px);
  mask: url("/between-links.svg") no-repeat center / contain;
  -webkit-mask: url("/between-links.svg") no-repeat center / contain;
}

@media only screen and (max-width: 1023px) {
  .heading {
    font-size: 36px;
  }
  .back-button {
    top: 10px;
    left: 10px;
  }
  .features,
  .data-container {
    grid-template-columns: 1fr;
  }
  .top-gradient,
  .card::after,
  .links a::after {
    display: none;
  }
  .bottom-gradient {
    width: 150%;
    height: 400px;
    margin-bottom: -450px;
  }
}
